@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
    height: 100%;
    @apply selection:bg-brown-300;
    @apply selection:bg-opacity-50;
}

@keyframes float {
    0% {
        transform: translateY(0%);
        opacity: 1;
    }
    100% {
        transform: translateY(-150%);
        opacity: 0;
    }
}

.animate-float {
    animation: float 5s infinite ease-in-out;
}
